<h1 class="registration"><span>新規アカウント登録</span></h1>


<%= form_with model:@user, url: user_registration_path, method: :post, class: 'registration-main', local: true do |f| %>
   <%#エラーメッセージの表示 %>
   <%= render "shared/error_messages", model: f.object, class: "error-messages" %>
  <div class="form-wrap">
   <div class="field">
     <%= f.label :nickname %><br />
     <%= f.text_field :nickname, autofocus: true %>
   </div>

   <div class="field">
     <%= f.label :email %><br />
     <%= f.email_field :email %>
   </div>

   <div class="field">
     <%= f.label :password %>半角英数字混合<br />
     <%= f.password_field :password, autocomplete: "off" %>
   </div>

   <div class="field">
     <%= f.label :password_confirmation %>・確認用<br />
     <%= f.password_field :password_confirmation, autocomplete: "off" %>
   </div>

   <div class="actions">
     <%= f.submit "新規登録", class:"login-blue-btn" %>
   </div>
   <div class="registrations-link">
     <%= link_to "登録済みの方はこちらから", new_user_session_path, class:'registrations-link' %>
   </div>
  </div>
<% end %>


