<div class='header'>
  <div class='nav'>
   <ul class='lists-left'>
      <%= link_to image_tag("seasoning.png", class:"seasoning-icon"), "/" %>
      <li class='sub_title'> Seasoning Creater </li>
    </ul>
    <ul class='lists-right'>
      <%# ログインの有無で表示変更 %>
      <% if user_signed_in?%>
        <div class="user-nickname" >"こんにちは<%= current_user.nickname %>さん！"</div>
        <li><%= link_to 'マイページ',user_path(current_user.id), class: "btn mypage" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "btn login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "btn sign-up" %></li>
      <% end %>
      <%# /ログインの有無で表示変更 %>
    </ul>
  </div>
</header>
