<%= render "/shared/header" %>

  <div class="inner-contact">
     <div class="contact-form">
        <%= form_with(model: @taste, local: true) do |form| %>

         <%#エラーメッセージの表示 %>
         <%= render "shared/error_messages", model: form.object, class: "error-messages" %>
         
          <div class= "form">
            <div class="form_left">
                <div class="weight-darkcyan-text">テイスト名</div>
                   <%= form.text_field :title, class:"taste_title", placeholder:"例) 濃厚ケチャップ味" %>
                <div class="weight-darkcyan-text">料理写真</div>
                   <%= form.file_field :image, class:"taste_image" %>
                <div class="weight-darkcyan-text">おすすめジャンル</div>
                   <%= form.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"create-hour"}) %> 
                <div class="weight-darkcyan-text">作った料理</div>
                   <%= form.text_field :example, class:"food_example", placeholder:"例) 唐揚げ" %>
                <div class="weight-darkcyan-text">作り方</div>
                   <%= form.text_area :recipe, class:"how_to_cooks", placeholder:"例) 1.全種類を混ぜて揉み込み、30分間ジップロック保存" %>
            </div>
            <div class="form_right">
               <div class= "seasoning">
                 <div class="seasoning-texts">
                  <div class="seasoning-text">材料名</div>
                  <div class="seasoning-text">配合</div>
                 </div>
                 <div class="changes-form">
                  <%= form.fields_for :taste_seasonings do |s| %>
                       <%= render 'taste_seasoning_fields', f: s %>
                  <% end %>
                   <div class="links">
                        <%= link_to_add_association '追加', form, :taste_seasonings%>
                   </div>
                 </div>
               </div> 
            </div>
          </div>
          <%= form.submit "submit", class:"form-btn semibold" %> 
        <% end %>
     </div>
  </div>

<%= render "/shared/footer"%>