<%= render "/shared/header"%>
<div class="wrapper">
  <div class="main_wrapper">
     <h1><%= @taste.genre.name %></h1>
        <% @tastes.each do |taste| %>
          <div class='list'>
            <%= link_to taste_path(taste.id) do %>
              <div class='taste-img-content'>
                 <%= image_tag taste.image.variant(resize: '500x500'), class: "taste-img" if taste.image.attached? %>
                 <div class='taste-info'>
                   <h3 class='taste-name'>
                     <%= taste.title %>
                   </h3>
                   <div class='taste-example'>
                   <span><%= taste.example %>に！<span>
                   </div>
                 </div>
              </div>
            <% end %>
          </div>
        <% end %>
  </div>
</div>
<%= render "/shared/footer"%>