<div class="wrapper">

<%= render "/shared/header" %>

   <div class="sub_header">
     <%= render "/shared/sub_header" %>
     </div>
    <div class="main">
     <div class="image_position">
      <%= link_to image_tag("taste1.png", class:"menus_image"), "#" %>
      <%= link_to image_tag("taste2.png", class:"menus_image"), "#" %>
      <%= link_to image_tag("taste3.png", class:"menus_image"), "#" %>
      <%= link_to image_tag("taste4.png", class:"menus_image"), "#" %>
      <%= link_to image_tag("taste5.png", class:"menus_image"), "#" %>
     </div>
     <div class='select_taste'>
       <div class='under_taste'>食材の下味</div>
       <div class='stir_fry'>炒め物</div>
       <div class='soup'>煮物</div>
       <div class='bolied_food'>スープの味付け</div>
       <div class='other'>その他</div>
     </div>
    </div>
    <%= link_to(new_taste_path, class: 'menu-btn') do %>
    <span class='menu-btn-text'>投稿する</span>
    <%= image_tag 'seasoning_create.png', size: '180x50',class: "menu-btn-icon" %>
    <% end %>

 <%= render "/shared/footer"%>
 
</div>