<div class="wrapper">
     <%= render "/shared/header" %>
     <%= render "/shared/sub_header" %>

   <div class="main">

     <%# Swiperの実装 %>
     <div class="swiper-container"> 
        <%#-- メイン表示部分 --%> 
        <div class="swiper-wrapper"> 
           <%#-- 各スライド --%>
           <div class="swiper-slide"><img src="index1.jpg" alt style="width: 100%; height: 100%;"></div>
           <div class="swiper-slide"><img src="index2.jpg" alt style="width: 100%; height: 100%;"></div>
           <div class="swiper-slide"><img src="index3.jpg" alt style="width: 100%; height: 100%;"></div>
           <div class="swiper-slide"><img src="index4.jpg" alt style="width: 100%; height: 100%;"></div>
        </div>
        <%#-- ナビケーション --%>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
     </div>
     <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
     <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
     <%# Swiperの実装 %>

     <%# ジャンルの選択ボタン %>
      <div class="image_position">
          <%= link_to image_tag("taste1.png", class:"menus_image"), '/genre/2' %>
          <%= link_to image_tag("taste2.png", class:"menus_image"), '/genre/3' %>
          <%= link_to image_tag("taste3.png", class:"menus_image"), '/genre/4' %>
          <%= link_to image_tag("taste4.png", class:"menus_image"), '/genre/5' %>
          <%= link_to image_tag("taste5.png", class:"menus_image"), '/genre/6' %>
        </div>
        <div class='select_taste'>
           <div class='under_taste'>揚げ物</div>
           <div class='stir_fry'>炒め物</div>
           <div class='soup'>煮物</div>
           <div class='bolied_food'>汁物</div>
           <div class='other'>ごはんもの</div>
        </div>
     <%# ジャンルの選択ボタン %>

     <%# 投稿一覧 %>
     <div class='taste-contents'>
       <h2>新着ラインナップ</h2>
       <ul class='taste-lists'>
         <% @tastes.each do |taste|%>
             <div class='list'>
                <%= link_to taste_path(taste.id) do %>
                    <div class='taste-img-content'>
                      <%= image_tag taste.image.variant(resize: '500x500'), class: "taste-img" if taste.image.attached? %>
                    </div>
                    <div class='taste-info'>
                       <h3 class='taste-name'>
                          <%= taste.title %>
                       </h3>
                      <div class='taste-example'>
                         <span>オススメは<%= taste.genre.name %>♪</span>
                      </div>
                    </div>
                <% end %>
             </div>
         <% end %>
       </ul>
     </div>
     <%= render "/shared/footer" %>
     <%# 投稿一覧 %>
   </div>
    <%= link_to(new_taste_path, class: 'menu-btn') do %>
     <span class='menu-btn-text'>投稿する</span>
     <%= image_tag 'seasoning_create.png', size: '180x50',class: "menu-btn-icon" %>
    <% end %>
</div>

