<%= render "/shared/header" %>

  <div class="taste__wrapper">
     <div class="wrapper_up">
         <p class="taste__hedding">
           <%= @taste.title %>
        </p>
        <div class=taste__user >投稿者：<%= @taste.user.nickname+"さん"%></div>
        <%# テイストの投稿者とログインしているユーザーが同じであれば以下を表示する %>
         <% if user_signed_in? && current_user.id == @taste.user.id %>
           <div class="taste__manage">
             <%= link_to "編集する", edit_taste_path(@taste.id), class: :taste__btn__edit %>
             <%= link_to "削除する", taste_path(@taste.id), method: :delete, class: :taste__btn__delete %>
           </div>
         <% end %>
       <%# テイストの投稿者とログインしているユーザーが同じであれば上記を表示する %>
        <div class="taste__image">
           <%= image_tag @taste.image, class: :taste__image %>
        </div>
        <div class="taste__body">
          <div class="taste__detail">
            <p class="detail__title">ジャンル</p>
            <p class="detail__message">
              <%= @taste.genre.name %>
            </p>
        </div>
        <div class="taste__detail">
           <p class="detail__title">料理例</p>
           <p class="detail__message">
             <%= @taste.example %>
           </p>
       </div>
       <div class="taste__detail">
           <p class="detail__title">作り方</p>
           <p class="detail__message">
             <%= safe_join("#{@taste.recipe}".split("\n"),tag(:br)) %>
           </p>
         </div>
     </div>
     <div class="wrapper_sub_right">
        <div class="taste__detail">
          <div class="seasoning__each">
          <div class="seasoning__message">
          <p class="detail__title">材料</p>
              <% @seasoning.each do |s| %>
                <li><%= s.seasoning_name %></li>
              <% end %>
          </div>
          <div class="seasoning__message">
          <p class="detail__title">分量</p>
              <% @seasoning.each do |s| %>
                <li><%= s.quantity %></li>
              <% end %>
          </div>
          </div>
        </div>
     </div>
     </div>
     <div class="wrapper_down">
        <%= form_with(local: true) do |f| %>
          <span class="make_a_food">料理を作ったら...</span>
           <p>自分が作ったオリジナル料理を投稿して、こちらの料理のバリデーションを増やしましょう！</p>
            <div class="form-input">
                <%= f.text_area "hoge", class: 'form-message', placeholder: '主材料や料理名、味付けの感想をコメントしましょう' %>
              <label class="form-image">
                <div class="image-file">画像</div>
                  <%= f.file_field "hoge", class: 'hidden' %>
              </label>
            </div>
           <%= f.submit '送信', class: 'form-submit' %>
        <% end %>
       </div>
  </div>

<%= render "/shared/footer"%>