<h1 class='title'><span>ログイン</span></h1>

<%= form_with model: @user, url: user_session_path, method: :post, class: 'registration-main', local: true do |f| %>
  <%#エラーメッセージの表示 %>
  <div class='error-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
 <div class="form-wrap">
   <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン", class:"login-blue-btn"%>
  </div>
  <div class="registrations-link">
    <%= link_to "新規登録はこちらから", new_user_registration_path, class:'registrations-link' %>
  </div>
 </div>

<% end %>
